{% extends "catalog/base.html" %}

{% load static %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script type='text/javascript'>
        var clips = [
            {% for clip in clips %}
        {% if not forloop.first %},{% endif %}
        {
            title: "{{ clip.title }}",
            interpreter: "{{ clip.interpreter }}",
            media_id: "{{ clip.media_id }}",
            composer: "{{ clip.composer }}",
            period: "{{ clip.period }}",
            href: "/media/{{clip.id}}",
            thumbnail: "https://cdn.jwplayer.com/thumbs/{{ clip.media_id }}-120.jpg"
        }
    {% endfor %}
    ]
    </script>
{% endblock %}
{% block content %}
    <div id="browser" class="browser">
        <div class="title">
            <span>Filtrer</span>
            <span v-if="hasFilterActive" class="reset" v-on:click="reset()">
                (Réinitialiser)
            </span>
            </div>
        <div class="filters">
            <div v-for="filter in FILTERS" class="filter">
                <label>[[filter.label]]:</label>
                <a class="filter__option"
                v-for="value in values(filter)"
                v-bind:class="{ active: value.active }"
                v-on:click="applyFilter(filter,value.name)">
                    <span v-if="value.nb || value.active">[[value.name]] ([[value.nb]])</span>
                    <span v-else class="empty">[[value.name]]</span>
                </a>
            </div>
        </div>
        <div class="title">[[filteredClips.length]] Résultat(s)</div>
        <div class="catalog">
            <div class="tile" v-for="clip in filteredClips">
                <a v-bind:href="clip.href">
                    <img v-bind:src="clip.thumbnail">
                </a>
                <div class="overview">
                    <div class="details">
                        <div class="details__section">
                            <label> Titre : </label>
                            <span>[[clip.title]]<span>
                        </div>
                        <div class="details__section">
                            <label> Compositeur : </label>
                            <span>[[clip.composer]]<span>
                        </div>
                        <div class="details__section">
                            <label> Interprète : </label>
                            <span>[[clip.interpreter]]<span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        initBrowser('#browser', clips)
    </script>
{% endblock %}